---
import HeroButton from "../components/sections/hero/hero-button.astro";
import Layout from "../layouts/layout.astro";
---

<Layout title='404 - Page Not Found'>
  <div
    class='min-h-[80vh] flex flex-col items-center justify-center px-6 page-transition'
  >
    <h1
      class='text-8xl font-bold font-mono bg-gradient-to-r from-white via-white to-gray-500 bg-clip-text text-transparent mb-6'
    >
      404
    </h1>
    <p class='text-xl text-gray-400 mb-8 text-center max-w-md'>
      Oops! Looks like you've ventured into uncharted territory.
    </p>
    <HeroButton href='/'> Take me home </HeroButton>
  </div>
</Layout>
