---
import Hero from "../components/sections/hero/index.astro";
import Projects from "../components/sections/projects/index.astro";
import Writing from "../components/sections/writing/index.astro";
import Layout from "../layouts/layout.astro";
---

<Layout title="Andrej Acevski">
  <div class="max-w-4xl mx-auto px-6 py-16 page-transition">
    <div class="space-y-24">
      <Hero />
      <Projects />
      <Writing />
    </div>
  </div>
</Layout>
