<a href="/" class="group relative">
  <div
    class="absolute -inset-1 rounded-lg bg-gradient-to-r from-blue-600 to-blue-400 opacity-0 blur-lg group-hover:opacity-20 transition-opacity duration-500"
  >
  </div>
  <span class="relative text-xl font-mono font-bold">
    <span class="text-white">aa</span>
    <span class="text-blue-400">.</span>
    <span
      class="absolute -bottom-0.5 left-0 w-full h-px bg-gradient-to-r from-blue-400/0 via-blue-400/70 to-blue-400/0 origin-left scale-x-0 group-hover:scale-x-100 transition-transform duration-300"
    ></span>
  </span>
</a>
